# general
.DS_Store
*/.DS_Store
build/*
dist/*
*.swp
*.swo

# python
*.pyc
*egg-info
*.py[cod]
__pycache__/

# jupyter notebook
.ipynb_checkpoints

# IDE
.idea

# personal 
spiketag_test_data/*

# tmux
*.log
